:root {
    /* variaveis */
    --vermelho: #ea0000;
    --preto: #000;
    --branco: #aaa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: var(--branco);
    margin-right: 10px;
}

header nav a:hover {
    color: var(--vermelho);
}

.bannerpincipal{
    font-size: 16px;
    background: linear-gradient( rgba(0,0,0,.50), rgba(0,0,0,.50) 100%), url('../IMG/01.jpg');
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

.bannerpincipal .descricao{
    margin-bottom: 20px;
    margin-left: 20px;
}

.bannerpincipal .titulo {
    font-size: 30px;
    margin-left: 20px;
}

.botoes{
    margin-left: 20px;
    margin-bottom: 30px;
   
}
.botoes .botao{
    /* background-color: var( --preto); */
    background-color: rgba(0,0,0,.50);
    border: none;
    color: var(--branco);
    padding: 15px;
    font-size: 10px;
    cursor: pointer;
    transition: .5s ease all;
    border-radius: 10px;

}
.botoes .botao:hover {
    background-color: var(--branco);
    color: var(--preto);

}
.botoes i {
    font-size: 14px;
    margin-right: 5px;
}